@import '~assets/css/variables'
@import '~assets/css/mixins'
@import '~assets/css/effects'

html
  overflow hidden !important

*
  box-sizing border-box

.flex-center
  display flex
  align-items center
  justify-content center

.scroll
  overflow auto

.fill-height
  height 100%

.fill-width
  width 100%

.limit-width
  limit-width(100%)

.limit-width-100
  limit-width(100px)

.font-size-24
  font-size 24px !important

.font-size-18
  font-size 18px !important

.font-size-16
  font-size 16px !important

.font-size-13
  font-size 13px !important

.font-size-12
  font-size 12px !important

.font-size-11
  font-size 11px !important

.font-size-10
  font-size 10px !important

.cursor-pointer
  cursor pointer

.cursor-text
  cursor text

.v-btn
  letter-spacing 0.5px !important

.border-radius-0
  border-radius 0