$black-font-color = #101113
$title-color = #949494
$red-color = #FF4242
$gold-1-color = #CDA808
$gold-2-color = #B78339
$gold-3-color = #D0AE19
$bronze-color = #756d56
$red-color = #FF4242
$common-color = #e5e5e5
$uncommon-color = #a9cf97
$excellent-color = #87befe
$magnificent-color = #e5c539
$rare-color = #b38fff
$item-background-color = #1B1813
$bronze-light-color = #988B68
$green-color = #11B863
$pink-color = #FFDBC8
$gray-brown-color = #7A776E
$gray-color = #5E5A52
$common-font-family = 'PT Serif',-apple-system,BlinkMacSystemFont,San Francisco,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Segoe UI,Fira Sans,Roboto,Oxygen,Ubuntu,Droid Sans,Arial,sans-serif
$confirm-dialog-height = 250px
