@import './effects.scss';
@import './mixins.scss';
@import './helpers.scss';

body {
  font-size: 16px;
  overflow: hidden;
}

.text-decoration-none {
  text-decoration: none !important;
}

.q-loading {
  opacity: 0.4;
}

.q-dialog__inner--minimized > div {
  max-height: calc(100vh -  48px) !important;
}