// Horizontal list effect
.horizontal-list-effect-item {
  display: inline-block;
  margin-right: 10px;
}

.horizontal-list-effect-leave-active {
  position: absolute;
}

.horizontal-list-effect-enter-active,
.horizontal-list-effect-leave-active {
  transition: all 0.3s;
}

.horizontal-list-effect-enter,
.horizontal-list-effect-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.horizontal-list-effect-move {
  transition: transform 0.3s;
}

// Horizontal list
.horizontal-list-move,
.horizontal-list-enter-active,
.horizontal-list-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), opacity 0s;
}

.horizontal-list-enter-from,
.horizontal-list-leave-to {
  opacity: 0;
  transform: scaleX(0.01) translate(30px, 0);
}

.horizontal-list-leave-active {
  position: absolute;
}

// Vertical list
.vertical-list-move,
.vertical-list-enter-active,
.vertical-list-leave-active {
  // transition: all 20s cubic-bezier(0.55, 0, 0.1, 1), opacity 0s;
  transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1), opacity 0s;
}

.vertical-list-enter-from,
.vertical-list-leave-to {
  opacity: 0;
  transform: translate(0, 30px);
}

.vertical-list-leave-active {
  position: absolute;
}

// Slide Fade Appear
@keyframes slideFadeAppear {
  0% {
    opacity: 0.8;
    left: 40px
  }

  70% {
    opacity: 0.85;
  }

  80% {
    opacity: 0.9;
  }

  90% {
    opacity: 0.95;
  }

  100% {
    opacity: 1;
    left: 0
  }
}

.animated.slideFadeAppear {
  position: absolute;
  animation: slideFadeAppear 0.2s;
}

// Slide Fade In
@keyframes slideFadeIn {
  0% {
    opacity: 0.8;
    left: -40px
  }

  70% {
    opacity: 0.85;
  }

  80% {
    opacity: 0.9;
  }

  90% {
    opacity: 0.95;
  }

  100% {
    opacity: 1;
    left: 0
  }
}

.animated.slideFadeIn {
  position: absolute;
  animation: slideFadeIn 0.2s;
}

// Slide Fade Out
@keyframes slideFadeOut {
  0% {
    opacity: 1;
    left: 0
  }

  70% {
    opacity: 0.85;
  }

  80% {
    opacity: 0.75;
  }

  90% {
    opacity: 0.65;
  }

  100% {
    opacity: 0;
    left: -40px;
  }
}

.animated.slideFadeOut {
  position: absolute;
  animation: slideFadeOut 0.2s;
}

// Scale-fade
.scale-fade-enter-active {
  transition: all 0.3s ease-out;
}

.scale-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.scale-fade-enter-from,
.scale-fade-leave-to {
  transform: scale(0);
  opacity: 0;
}